@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #ecf7ff;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #3fb1ff, #172954);
  color: #fff;
  margin: 50px auto;
  border-radius: 1.25rem;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.search button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
}

.weather-icon {
  width: 150px;
  margin-top: 20px;
}

.temp {
  font-size: 3rem;
  font-weight: 600;
}

.city {
  font-size: 2.25rem;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  font-size: 14px;
  margin: 10px 0 0 10px;
  color: #fff;
  display: none;
}
